.CardContainer{
  background: #000;
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  grid-auto-rows: 1fr;       
  height: min-content;
  gap: 50px;
  padding: 0 50px;

  align-items: stretch;     
  justify-items: stretch;   
}