.imageCardContainer{
  display: grid;
  grid-template-rows: 1fr auto;  
  width: 100%;
  height: 100%;                 
}
.imageCardContainer img{
  width: 100%;
  height: 30vh;
  object-fit: cover;
}

.imageCardContainer .imgLabel{
    grid-row: 2/3;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    background-color: rgb(238, 238, 238);
    margin: 0;
    font-weight: bolder;
}



