.imageCardContainer{
    display: grid;
    grid-template-rows: 8fr 1fr;
    aspect-ratio: 4/3;
    max-width: 250px;
    background-color: aliceblue;
}

.imageCardContainer img{
    grid-row: 1/2;
    height: 100%;
    width: 100%;
    object-fit: cover;
    
}

.imageCardContainer h4{
    grid-row: 2/3;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: black;
}



