.imageCardContainer{
    display: grid;
    grid-template-rows: 8fr 1fr;
    aspect-ratio: 4/3;
    max-width: 18vw;
    align-items: center;
    justify-content: center;
    /* outline: solid rgb(121, 121, 121); */
}

.imageCardContainer img{
    grid-row: 1/2;
    height: 100%;
    width: 100%;
    object-fit: cover;
    
}

.imageCardContainer .imgLabel{
    grid-row: 2/3;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    background-color: rgb(238, 238, 238);
    margin: 0;
    font-weight: bolder;
}



