#root{
    display: grid;
    grid-template-rows: repeat(2, min-content) 8fr;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    min-height: 100vh;
}

.header{
    text-align: center;
} 

.header h1{
    font-size: 2.5rem;
}

.scoreboard{
    text-align: center;
    padding: 20px;
}

.scoreboard h1{
    font-size: 2rem;

}